.title-space {
    letter-spacing: 0.2rem;
}

ion-card {
    width: 100%;
    height: 85%;
}

ion-card-title {
    font-family: 'Libre';
    font-size: 1.25rem;
}

ion-card-content {
    font-family: 'Sans';
    font-size: 1.25rem;
}
